<div class="content-padded"> 
    <p>Preferences</p>  
</div>
<section>
   <ul class='list' role='list'>
      <li class='comp' ontouchend="openProfilePrivacy()">
         <div>
            <h3>Profile</h3>
         </div>
         <aside>
            <span class='nav'></span>
         </aside>
      </li>
      <li class='comp' ontouchend="openNotifications()">
         <div>
            <h3>Notifications</h3>
         </div>
         <aside>
            <span class='nav'></span>
         </aside>
      </li>
      <li class='comp' data-goto="places">
         <div>
            <h3>Notification</h3>
         </div>
         <aside>
            <span class='nav'></span>
         </aside>
      </li>
   </ul>
</section>
<div class="content-padded"> 
    <p>Support</p>  
</div>
<section>
 <ul class='list' role='list'>
     <li class='comp' data-goto="places">
         <div>
            <h3>Help</h3>
         </div>
         <aside>
            <span class='nav'></span>
         </aside>
      </li>
   </ul>

   <ul class='list' role='list'>
      <li class='comp' data-goto="">
         <div>
            <h3>Clear All Conversations</h3>
         </div>
         <aside>
            <span class='nav'></span>
         </aside>
      </li>
      <li class='comp' data-goto="">
         <div>
            <h3>Log out</h3>
         </div>
         <aside>
            <span class='nav'></span>
         </aside>
      </li>
   </ul>
</section>