<script src="/vendor/chui/chocolatechip-3.0.6.js"></script>
<script src="/vendor/chui/chui-3.0.6.js"></script>

<script>
  $(function() {
    $.UIDeletable({
      list: '.list', 
      callback: function(item) {
        var text = $(item).siblings('h3').text();
        $('#response').html('You deleted: <strong>' + text + '</strong>');
      }
    });
  });
</script>

<style>
  #response {
     color: #007aff !important;
  }
</style>

<section class="contacts">
  <div class="apple-search">
    <input type='text' id='contactSearch' placeholder='Search'>
  </div>

<article class="contact-z">
  <section>
    <h2>A</h2>
    <ul class='list contact-list'>
      <li class='nav'>
       <span class="harry-circle"></span><h3>Harry Adams</h3>
      </li>
      <li class='nav'>
        <span class="max-circle"></span><h3>Max Andrews</h3>
      </li>
    </ul>
    <h2>R</h2>
    <ul class='list contact-list'>
      <li class='nav conversation-button'>
        <span class="hannah-circle"></span><h3>Hannah Richards</h3>
      </li>
    </ul>
  </section>
</article>
</section>